/* Font Style */
@font-face {
    font-family: NunitoBlack;
    src: url(../font/nunito/nunito.black.ttf);
}

@font-face {
    font-family: PoppinsRegular;
    src: url(../font/poppins/Poppins-Regular.otf);
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url(../font/poppins/Poppins-SemiBold.otf);
}

@font-face {
    font-family: PoppinsBold;
    src: url(../font/poppins/Poppins-Bold.otf);
}

@font-face {
    font-family: PoppinsMedium;
    src: url(../font/poppins/Poppins-Medium.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: PoppinsRegular;
}

:root {
    --first-color: #A3AAD1;
    --second-color: #D1A3A3;
    --third-color: #F1ECE4;
    --fourth-color: #787E9E;
    --fifth-color: #848484;
}

a {
    text-decoration: none;
}

.section-title {
    font-family: PoppinsSemiBold;
    text-align: center;
}

.h3.page-title {
    background-color: var(--third-color);
    font-family: PoppinsSemiBold;
}

/* Header Style */

.header {
    background-color: var(--first-color);
}

.menu>a {
    display: inline-block;
}

/* Banner Style */

.banner {
    position: relative;
}

.banner>img {
    filter: brightness(50%);
}

.banner .welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: NunitoBlack;
    letter-spacing: 2px;
}

.banner .link-layanan {
    background-color: var(--first-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.banner .link-layanan:hover {
    background-color: #787E9E;
    border-color: var(--first-color);
}

.banner .link-layanan img {
    color: white;
}

/* Description Style */

.desc {
    text-align: center;
}

/* Galeri Style */

.galeri {
    background-color: var(--third-color);
}

.carousel-cell {
    max-width: 66%;
    margin-right: 30px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

/* Statistik Style */

.statistik .card {
    background-color: var(--second-color);
    transition: 0.3s ease;
    font-family: PoppinsSemiBold;
    margin: auto;
}

.statistik .card:hover {
    background-color: #7B84BF;
    border-color: #A3AAD1;
}

/* Lembaga Style */

.lembaga {
    background-color: var(--third-color);
}

.lembaga .wrapper {
    display: flex;
    overflow-x: auto;
}

.lembaga .wrapper::-webkit-scrollbar {
    width: 0;
}

.lembaga .item {
    margin: auto;
    text-align: center;
    transition: .3s ease-in;
    border-radius: 10px;
}

.lembaga .item:hover {
    background-color: #A3AAD1;
}

.lembaga .item:hover img {
    -webkit-filter: none;
    filter: none;
}

.lembaga .item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Footer Style */

footer {
    background-color: var(--first-color);
}

footer .social-media {
    flex-direction: column;
}

footer .social-media>h4 {
    font-family: PoppinsBold;
}

footer .detail img {
    max-width: 300px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/* Breadcrumb Style */

.breadcrumb-item {
    color: black;
}

.breadcrumb-item>a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.breadcrumb-item.active {
    font-size: 15px;
    color: black;
    font-weight: bolder;
}

/* Bumdes Style */

.bumdes .logo {
    max-width: 100px;
}

.bumdes .accordion .item {
    border-radius: 10px 10px 0 0;
    transition: 0.2s ease-in;
    width: 100%;
    border: none;
    text-align: left;
    font-family: PoppinsSemiBold;
}

.bumdes .accordion .item .icon {
    transform: 0deg;
    transition: transform 0.3s ease;
}

.bumdes .accordion .panel {
    color: #F1ECE4;
    font-family: PoppinsRegular;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 10px 10px;
}

.bumdes .accordion>* {
    background-color: #F1ECE4;
}

/* Berita Style */

.berita .card {
    background-color: var(--third-color);
    border: none;
}

.berita .thumbnail {
    width: 100%;
}

.berita .thumbnail img {
    max-width: 100%;
}

.berita a.title,
.berita .next {
    font-family: PoppinsSemiBold;
}

.berita .card a {
    color: black;
}

.berita .card {
    border-radius: 0;
}

.detail-berita .date, .detail-berita .author {
    color: var(--fifth-color);
}

.detail-berita .title {
    font-family: PoppinsBold;
}

.detail-berita .author {
    font-family: PoppinsMedium;
}

.detail-berita hr {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.detail-berita hr::before {
    content: '';
    background-color: #818078;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.detail-berita hr::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: var(--fifth-color);
    background-color: #fcfcfa;
    font-family: PoppinsSemiBold;
}

.detail-berita .card {
    background-color: var(--third-color);
    border: none;
    border-radius: 0;
}

.detail-berita .card .title {
    color: black;
}

.detail-berita .card .title {
    font-family: PoppinsBold;
}

/* Program Style */

.program .card {
    background-color: var(--first-color);
    border: none;
}

.program .thumbnail {
    width: 100%;
}

.program .thumbnail img {
    max-width: 100%;
}

.program .title {
    color: white;
    font-family: PoppinsSemiBold;
}

.program .card {
    border-radius: 0;
}

/* Struktur Style */

.struktur td {
    text-align: left;
    width: 50%;
}

.struktur .object1 {
    background-color: var(--third-color);
}

.struktur .object2 {
    background-color: var(--fifth-color);
    height: 10vh;
}

/* Profil Style */

.profil{
    background-color: #F1ECE4;
 }

 .profil .title {
    background-color: #F1ECE4;
 }

 .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.wilayah th.cat {
    width: 50%;
}

/* Layanan Style */

.layanan .title {
    background-color: #F1ECE4;
    font-size: 20px;
    font-weight: bold;
}
/* 
.form-layanan .forms {
    width:450px;
} */

.form-layanan .border-form {
    border: 2px solid rgba(163, 170, 209, 1);
    text-align: center;
}

.form-layanan .btn-forms {
    background: rgba(163, 170, 209, 1);
    width:49%;
    margin:0 auto;
    color: white;
    font-weight: bold;
}

.form-layanan button.reset {
    color: var(--first-color);
    border: var(--first-color) 2px solid;
}

.btn-forms:hover {
    background: white;
    border: 2px solid rgba(163, 170, 209, 1);
}

.table {
    margin:0 auto;
    border: #7B84BF;
}

.thead {
    background: var(--first-color);
    color: white;
}

.pengajuan {
    background-color:rgba(241, 236, 228, 1);
}

.pengajuan .card {
    background-color: #A3AAD1;
    color: white;
    font-weight: bolder;
    transition: 0.5s ease-out;
}

.pengajuan .card:hover {
    background-color: #7B84BF;
    border: #A3AAD1;
}

.pengajuan-name {
    font-size: 14px;
}

/* Kontak Style */
.kontak {
    background-color: #F1ECE4;
}

.kontak .title {
    background-color: #F1ECE4;
}

.hubungi .title {
    background-color: #F1ECE4;
}

.hubungi .form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hubungi label {
    font-family: Poppins;
}

.hubungi button {
    font-family: Poppins;
    background-color: #A3AAD1;
    color: white;
}
.hubungi button:hover {color: #7B84BF}

.hubungi span {
    color: red;
    font-style: bold;
}

.hub-kontak .desc {
    text-align: left;
    margin: 0;
}

/* Galeri Style */
.galeri{
    background-color: #F1ECE4;
    margin: 0;
    padding: 0;
 }

 .galeri .title {
    background-color: #F1ECE4;
    margin: 0;
    padding: 0;
 }
  
  /* Create four equal columns that sits next to each other */
  .galeri .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .galeri .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
 
 /*END GALERI*/

@media (max-width: 768px) {

    /* Global Style */

    body {
        overflow-x: hidden;
    }

    .section-title {
        font-size: 16px;
    }

    /* Header Style */

    .logo img {
        width: 120px;
    }

    .nav-link {
        display: block;
        width: 100%;
    }

    .nav-link a {
        color: var(--fourth-color);
    }

    .nav-link a:hover {
        color: black;
    }

    /* Banner Style */

    .banner .link-layanan {
        bottom: -10%;
        font-size: 14px;
        width: 60%;
        font-family: PoppinsSemiBold;
    }

    /* Description Style */

    .desc {
        font-size: 14px;
        margin: 30px auto;
        padding: 0 20px;
    }

    /* Galeri Style */

    .galeri {
        padding: 25px;
    }

    .carousel.web {
        display: none;
    }

    /* Statistik Style */

    .statistik .count {
        font-size: 20px;
    }

    .statistik .name {
        font-size: 14px;
    }

    .statistik .icon img {
        height: 45px;
        margin-bottom: 10px;
    }

    /* Lembaga Style */

    .lembaga {
        padding: 0 20px;
    }

    .lembaga .item img {
        max-width: 200px;
    }

    /* Footer Style */

    footer {
        font-size: 14px;
    }

    footer .social-media>h4 {
        font-size: 14px;
    }

    footer .detail img {
        max-width: 40%;
    }

    footer h4 {
        font-size: 14px;
    }

    footer>.d-flex {
        flex-direction: column;
    }

    /* Bumdes Sytle */

    .bumdes .container .row {
        flex-direction: column;
    }

    .bumdes img.logo {
        min-width: 50%;
    }

    .bumdes .content,
    .bumdes .accordion {
        font-size: 14px;
    }

    /* Berita Style */

    .berita .date {
        font-size: 8px;
    }

    .berita .title {
        font-size: 16px;
    }

    .berita .content,
    .berita .next {
        font-size: 10px;
    }

    .berita .next a {
        color: black;
    }

    .detail-berita {
        font-size: 14px;
    }

    .detail-berita .card-body {
        flex-direction: column;
    }

    .detail-berita .title {
        font-size: 24px;
    }

    .detail-berita .card .title {
        color: black;
        font-size: 16px;
    }

    .detail-berita .date {
        font-size: 10px;
    }

    .detail-berita .thumbnail {
        display: none;
    }

    /* Struktur Style */

    .struktur .content {
        font-size: 10px;
    }

    /* Kontak Style */

    .hub-kontak .desc {
        font-size: 14px;
    }
}

@media (min-width: 768.02px) {

    /* Header */

    .header {
        flex-direction: row-reverse;
    }

    .menu>a {
        display: none;
    }

    .menu .offcanvas {
        position: absolute;
        right: -100vw;
    }

    .menu .offcanvas-body {
        position: absolute;
        visibility: visible;
        right: -100vw;
    }

    .nav-link {
        height: 100%;
    }

    .nav-link a {
        color: white;
    }

    .nav-link img {
        display: none;
    }

    /* Banner Style */

    .banner .welcome {
        font-size: 96px;
    }

    .banner .link-layanan {
        bottom: -5%;
        font-size: 25px;
        width: 40%;
    }

    /* Description Style */

    .desc {
        font-size: 28px;
        width: 60%;
        margin: 60px auto;
    }

    /* Galeri Style */

    .carousel.mobile {
        display: none;
    }

    .flickity-page-dots {
        position: absolute;
        width: 100%;
        bottom: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        line-height: 1;
    }

    .statistik .count {
        font-size: 60px;
    }

    .statistik .name {
        font-size: 34px;
    }

    .statistik .icon img {
        height: 150px;
    }

    /* Lembaga Style */

    .lembaga .item img {
        max-width: 300px;
    }

    /* Footer Style */

    footer>.d-flex {
        flex-direction: row;
    }

    footer .address {
        margin-left: 25px;
        font-size: 20px;
    }

    footer .social-media {
        padding: 50px;
        font-size: 20px;
    }

    footer .copyright {
        margin-left: 25px;
        font-size: 15px;
    }

    /* Bumdes Sytle */

    .bumdes {
        font-size: 14px;
    }

    .bumdes img.logo {
        min-width: 100%;
    }

    /* Berita Style */

    .berita .date {
        font-size: 12px;
    }

    .berita .title {
        font-size: 16px;
    }

    .berita .content,
    .berita .next {
        display: none;
    }

    .detail-berita {
        font-size: 16px;
    }

    .detail-berita .title {
        font-size: 32px;
    }

    .deatil-berita .thumbnail {
        width: 100%;
    }
    
    .detail-berita .thumbnail img {
        max-width: 100%;
    }

    .detail-berita .card-body {
        flex-direction: column-reverse;
    }

    .detail-berita .card .title {
        font-size: 16px;
    }

    .detail-berita .date {
        font-size: 10px;
    }

    /* Struktur Style */

    .struktur table {
        max-width: 50%;
    }

    .struktur .content {
        font-size: 16px;
    }

    /* Profil Style */

    .profil-line {
        flex: 100%;
        max-width: 70%;
    }

    .kades, .wilayah {
        max-width: 50%;
    }

    /* Layanan Style */
    .form-layanan {
        max-width: 50%;
    }

    .pengajuan-name {
        font-size: 12px;
    }

    /* Kontak Style */

    .hub-kontak .desc {
        font-size: 16px;
    }

}